* {
    padding: 0;
    font-family: Helvetica, sans-serif;
    scroll-behavior: smooth;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/* MENU */

 /*INDEX*/

#lblUserLogado{
    font-size: 32px;
    font-weight:bold;
}
.menu {
    font-family: 'Helvetica';
    color: white;
    width: 100%;
    height: 103px;
    background-color: gray;
    right: 0;
    top: 0px;
}

header {
    width: 100%;
    height: 103px;
    right: 0;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
}

.logo a {
    width: 200px;
    height: 103px;
}
#lblError{
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
}

.logo img {
    width: 200px;
    height: 103px;
}

    .logo img:hover {
        opacity: 50%;
    }


nav .menu {
    position: absolute;
    text-align: center;
    left: 30%;
    height: auto;
    display: flex;
    width: auto;
}

#logout a {
    margin-left: 100px;
    border-radius: 10px;
    background-color: #4a4848;
}


ul.menu li {
    color: #fff;
    margin: 10px;
    font-size: 15px;
    font-family: 'Helvetica';
    display: block;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 2px 1px rgb(82, 82, 82), 0 0 1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

li.has-submenu ul {
    display: none;
    position: absolute;
}

    li.has-submenu ul li {
        display: flex;
    }

li.has-submenu:hover ul {
    display: block;
}

ul.menu {
    margin-left: 0rem;
    margin-top: 1.5rem;
    display: flex;
}

    ul.menu li a {
        position: relative;
        text-decoration: none;
        background: gray;
        border: 1px solid gray;
        padding: 1rem 2rem;
        color: white;
    }

li.has-submenu ul {
    margin-top: .95rem;
}

ul.menu li a:hover {
    background: gray;
    border: 1px solid rgb(82, 82, 82);
}

li.has-submenu ul li a {
    min-width: 130px;
    margin-left: -20px;
}

li.has-submenu ul li {
    margin-bottom: -14%;
}

/* CORPO-TEXTO */

body {
    background-color: #A9A9A9;
    overflow-x: hidden;
}

.corpo {
    /*text-align: left;*/
    width: 100vw;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orc-container {
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Quem_somos */

#corpo-sobre {
    text-align: center;
}

#ptexto {
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 100%;
    border-radius: 10px;
    background-color: orange;
    font-weight: bold;
}

#psobre {
    font-weight: bold;
    font-size: 20px;
    background-color: orange;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 100%;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

/* Orcamento */

#titulo_dados_orcamento {
    border-bottom: 1px solid white;
    width: 95%;
    text-align: center;
}

#descricao_orcamento {
    float: left;
}

#endereco_cliente_orcamento {
    float: left;
}

.form_orcamento {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 10%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 45vw;
    max-height: 10000px
}

.cad_prod_orc button TextBox {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px 20px;
}

#titulo_orcamento {
    padding: -5px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 600px;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

#valor_total{
    padding-left: 400px;
    font-size: 19px;
}
vtotal {
    padding-left: 200px;
}

.btn_cad_orc {
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    background-color: #d6d6d6;
}

    .btn_cad_orc:hover {
        cursor: pointer;
        background-color: #C0C0C0;
    }

#gOrcProd th {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    background-color: gray;
    border: 2px solid black;
}

#gOrcProd td {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 3px;
    background-color: white;
    text-decoration: none;
    border: 2px solid black;
}

#gOrcProd a {
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

.func {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 10px;
}

    .func #btnNewOrc {
        text-transform: uppercase;
        padding: 4px 4px;
        background-color: white;
        border-bottom: hidden;
        border-bottom: 2px solid;
        border-color: rgb(82, 82, 82);
        border-radius: 10px;
        width: 150px;
        font-size: 14px;
        font-weight: 600;
        margin-left: 200px;
        cursor: pointer;
        transition: .3s;
    }

#btnNewOrc:hover {
    background-color: #DCDCDC;
}

.func #ddlFuncionario {
    margin-left: 12px;
}

.pedidos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.prod_pedidos {
    display: flex;
    align-items: center;
    padding: 12px 12px;
}

.serv_pedidos {
    display: flex;
    align-items: center;
    padding: 12px 12px;
}

#ddlProduto {
    margin-left: 10px;
}

#ddlServico{
    margin-left: 10px;
}
#qtd{
    margin-left: 10px;
}
#txtQuantidadeProduto{
    text-align:center;
   
}
#btnCadProduto {
    text-transform: uppercase;
    padding: 4px 4px;
    background-color: white;
    border-bottom: hidden;
    border-bottom: 2px solid;
    border-color: rgb(82, 82, 82);
    border-radius: 10px;
    font-weight: 600;
    width:170px;
    font-size: 14px;
    margin-left: 45px;
    cursor: pointer;
    transition: .3s;
}

    #btnCadastrarProduto:hover {
        background-color: #DCDCDC;
    }

#lblCadastrarServico {
    text-transform: uppercase;
    padding: 4px 4px;
    background-color: white;
    border-bottom: hidden;
    border-bottom: 2px solid;
    border-color: rgb(82, 82, 82);
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    width: 165px;
    margin-left: 220px;
    cursor: pointer;
    transition: .3s;
}

    #lblCadastrarServico:hover {
        background-color: #DCDCDC;
    }

#btnExcluirProd {
    text-transform: uppercase;
    padding: 4px;
    background-color: white;
    border-bottom: hidden;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
    border-bottom: 2px solid;
    border-color: rgb(82, 82, 82);
    margin-left: 20px;
    cursor: pointer;
    transition: .3s;
}

#btnExcluirServ {
    text-transform: uppercase;
    padding: 4px;
    background-color: white;
    border-bottom: hidden;
    border-radius: 10px;
    border-bottom: 2px solid;
    border-color: rgb(82, 82, 82);
    font-weight: 600;
    font-size: 14px;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    transition: .3s;
}
#gServProd th {
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    background-color: gray;
    border: 2px solid black;
}

#gServProd td {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 3px;
    background-color: white;
    text-decoration: none;
    border: 2px solid black;
}

#gServProd a {
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}
    /*ORDEM SERVIÇO*/
#btnImprimir {
    border-bottom: hidden;
    background-color: orange;
    padding: 6px 12px;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    border-bottom: 2px solid;
    border-color: rgb(82, 82, 82);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
#gvOrdemServico th {
    font-size: 12px;
    padding: 10px;
    background-color: #FF8C00;
    border: 2px solid black;
}

#gvOrdemServico td {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 3px;
    background-color: orange;
    text-decoration: none;
    border: 2px solid black;
}

#gvOrdemServico a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

/*???*/
.div-button {
    text-align: right;
}

/* Cadastro_cliente */

.form_cadastramento {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    max-height: 100%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    height: 350px;
}

#titulocadastramento {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 2%;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

.enviar-cadastramento {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    background-color: #d6d6d6;
}

    .enviar-cadastramento:hover {
        background-color: #C0C0C0;
        cursor: pointer;
    }

.inputname {
    width: 200px;
    margin: 0;
    padding-top: 5%;
}

.inputstreet {
    width: 200px;
    margin: 0;
    padding-top: 5%;
}

.inputnumber {
    width: 30px;
    margin: 0;
    padding-top: 5%;
}

.inputdistrict {
    margin-top: 10px;
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.inputcomplement {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.inputcep {
    width: 150px;
    margin: 0;
    padding-top: 5%;
    outline: transparent;
}

.inputcpf {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.inputemail {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.inputphone {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

/* Formulário */

input {
    /*border-bottom-style: 1px solid darkgray;*/
    background-color: transparent;
    border: hidden;
    border-bottom: 2px solid;
    border-color: rgb(82, 82, 82);
    padding: 5px;
}

    input:focus {
        outline: 0;
        border-color: #f8f8ff;
        text-decoration: none;
    }

/* RODAPÉ */

footer {
    margin-top: 40%;
    width: 100vw;
    height: 30vh;
    background-color: gray;
    color: black;
    position: absolute;
    float: left;
    font-family: 'Helvetica';
    border-top-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
}

    footer .topicos {
        width: 30%;
        margin: 1%;
        position: relative;
        float: left;
    }

a.trodape:hover {
    opacity: 50%;
}

a.trodape {
    color: black;
    text-decoration: none;
}

/* Cadastro_produto */

#titulo_cad_prod {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2%;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

.form_cad_prod {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 9.5%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 400px;
}

.btn_cad_prod {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    background-color: #d6d6d6;
}

    .btn_cad_prod:hover {
        background-color: #C0C0C0;
        cursor: pointer;
    }

.input_valor_unit_prod {
    width: 55px;
}

/* Cadastro_servico */

.form_cad_serv {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 15%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 300px;
}

.btn_cad_serv {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    background-color: #d6d6d6;
}

    .btn_cad_serv:hover {
        background-color: #C0C0C0;
        cursor: pointer;
    }

.input_valor_serv {
    width: 55px;
}

#titulo_cad_serv {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2%;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

/* Cadastro_fabricante */

.form_cad_fabr {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 12%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 370px;
}

.campos_cad_fabr {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.campos_cad_forn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2px 0px 5px 2px;
}

.uf {
    margin-left: 10px;
}

.btn_cad_fabr {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    background-color: #d6d6d6;
}

    .btn_cad_fabr:hover {
        background-color: #C0C0C0;
        cursor: pointer;
    }

#titulo_cad_fabr {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2%;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

/* Cadastro_fornecedor */

.form_cad_forn {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 9%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 370px;
}

.btn_cad_forn {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    background-color: #d6d6d6;
}

    .btn_cad_forn:hover {
        background-color: #C0C0C0;
        cursor: pointer;
    }

#titulo_cad_forn {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2%;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

/* Menu_cadastro */

#titulo_menu_cad {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

.menu_cad {
    display: flex;
    flex-direction: column;
    background-color: orange;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 5%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 300px;
    color: black;
    text-decoration: none;
}

a.menu_cad:hover {
    opacity: 80%;
}

/* Menu_consulta */

#titulo_menu_consulta {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

.menu_consulta {
    display: flex;
    flex-direction: column;
    background-color: orange;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 5%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 300px;
    color: black;
    text-decoration: none;
}

a.menu_consulta:hover {
    opacity: 80%;
}

/* Menu_orcamento */

#titulo_menu_orc {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}

.menu_orc {
    display: flex;
    flex-direction: column;
    background-color: orange;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-bottom: 5%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 300px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a.menu_orc:hover {
    opacity: 80%;
}

.content_menu {
    margin-right: 20%;
}

    .content_menu a {
        width: 100%;
    }

/* Consulta_produto */

#titulo_consul_prod {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.campos_consul_prod {
    padding: 10px;
}

.GridV {
    max-height: auto;
}

.dados_prod {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 20px 12px;
    background-color: #DCDCDC;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #C0C0C0;
}

.btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
    padding: 30px 90px;
}

#btnSalvar, #btnEditar, #btnExcluir {
    cursor: pointer;
}

.consul_prod {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#gvProduto th {
    font-size: 12px;
    padding: 10px;
    background-color: #FF8C00;
    border: 2px solid black;
}

#gvProduto td {
    font-size: 12px;
    font-weight: 600;
    padding: 2px 3px;
    background-color: orange;
    text-decoration: none;
    border: 2px solid black;
}

#gvProduto a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

.input_vlr_uni_prod_consul {
    width: 55px;
}

/* Consulta_servico */

#titulo_consul_serv {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.GridV {
    max-height: auto;
}

.dados_serv {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 20px 12px;
    background-color: #DCDCDC;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #C0C0C0;
}

.btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
    padding: 30px 90px;
}

.consul_serv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#gvServico th {
    font-size: 12px;
    padding: 10px;
    background-color: #FF8C00;
    border: 2px solid black;
}

#gvServico td {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 3px;
    background-color: orange;
    text-decoration: none;
    border: 2px solid black;
}

.campo_consul_serv {
    padding: 5px;
}

#gvServico a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

.input_vlr_serv_consul {
    width: 55px;
}

/* Consulta_fornecedor */

#titulo_consul_forn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.campos_consul_prod {
    padding: 10px;
}

.GridV {
    max-height: auto;
}

.dados_fornecedor {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 20px 12px;
    background-color: #DCDCDC;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #C0C0C0;
}

.btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
    padding: 30px 90px;
}

.consul_forn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#gvFornecedor th {
    font-size: 12px;
    padding: 10px;
    background-color: #FF8C00;
    border: 2px solid black;
}

#gvFornecedor td {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 3px;
    background-color: orange;
    text-decoration: none;
    border: 2px solid black;
}

.campos_consul_fabr {
    padding: 5px;
}

#gvFornecedor a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

/* Consulta_cliente */

#titulo_consul_cliente {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.GridV {
    max-height: auto;
}

.dados_cliente {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 12px 16px;
    background-color: #DCDCDC;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #C0C0C0;
}

.btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
    padding: 30px 90px;
}

.consul_cliente {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#gvCliente th {
    font-size: 12px;
    padding: 10px;
    background-color: #FF8C00;
    border: 2px solid black;
}

#gvCliente td {
    font-size: 12px;
    font-weight: 600;
    padding: 1px 3px;
    background-color: orange;
    text-decoration: none;
    border: 2px solid black;
}

#gvCliente a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.input_nome_cliente_consul {
    width: 200px;
    margin: 0;
    padding-top: 5%;
}

.input_rua_cliente_consul {
    width: 200px;
    margin: 0;
    padding-top: 5%;
}

.input_numero_cliente_consul {
    width: 30px;
    margin: 0;
    padding-top: 5%;
}

.input_bairro_cliente_consul {
    margin-top: 10px;
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.input_complemento_cliente_consul {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.input_cep_cliente_consul {
    width: 150px;
    margin: 0;
    padding-top: 5%;
    outline: transparent;
}

.input_cpf_cliente_consul {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.input_email_cliente_consul {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

.input_tel_cliente_consul {
    width: 150px;
    margin: 0;
    padding-top: 5%;
}

#btnSalvar {
    background-color: orange;
    padding: 6px 12px;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

    #btnSalvar:disabled {
        background-color: gray;
        padding: 6px 12px;
        color: black;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
    }

#btnEditar {
    background-color: orange;
    padding: 6px 12px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

#btnExcluir {
    background-color: orange;
    padding: 6px 12px;
    color: black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Consulta_fabricante */

#titulo_consul_fabr {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bolder;
}

.GridV {
    max-height: auto;
}

.dados_fabricante {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    width: 600px;
    height: auto;
    padding: 20px 12px;
    background-color: #DCDCDC;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #C0C0C0;
}

.btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
    padding: 30px 90px;
}

.consul_fabr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#gvFabricante th {
    font-size: 12px;
    padding: 10px;
    background-color: #FF8C00;
    border: 2px solid black;
}

#gvFabricante td {
    font-size: 12px;
    font-weight: 600;
    padding: 3px 3px;
    background-color: orange;
    text-decoration: none;
    border: 2px solid black;
}

.campo_consul_fabr {
    padding: 5px;
}

#gvFabricante a {
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    padding: 1px;
}

/* Cadastro de usuário */

.form_cad_user {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 15%;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    width: 300px;
}

.btn_cad_user {
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 1px 1px 8px 1px rgb(82, 82, 82);
    background-color: #d6d6d6;
}

    .btn_cad_user:hover {
        background-color: #C0C0C0;
        cursor: pointer;
    }

#titulo_cad_user {
    padding: -5px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2%;
    text-shadow: 1px 1px 10px rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82), 0 0 0.1em rgb(82, 82, 82);
}